<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>FAMILIAS</h4>
      <p-toolbar>
        <div class="p-toolbar-group-left">
          <button pButton label="Atras" icon="pi pi-arrow-left" class="p-button-sm" routerLink=".."></button>
          <button pButton label="Nueva Familia" icon="pi pi-plus" class="p-button-sm"></button>
          <button pButton label="Reportes" icon="pi pi-file-pdf" class="p-button-sm"></button>
        </div>
      </p-toolbar>

    </div>
  </div>
</div>
