<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>


<!-- Dialog para cargar la propuesta-->
<p-dialog header="Nueva Propuesta" [(visible)]="receivedVisible" [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '60vw' }" [modal]="true">

  <form class="mt-3" [formGroup]="formCostoIncre" autocomplete="off">
    <div>
      <div class="formgrid grid">
        <div class="field col-12 md:col-6 lg:col-6">
          <label for="titulo">Titulo de Propuesta</label>
          <input pInputText id="titulo" type="text" formControlName="propuesta"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field col-12 md:col-6 lg:col-6">
          <label for="obs">Observaciones</label>
          <input pInputText id="obs" type="text" formControlName="obs"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
      </div>

      <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-sitemap"></i>
            <span>Propuesta por Familias</span>
          </ng-template>

          <div formArrayName="costoIncreArr" class="p-3">
            <div *ngFor="let em of lstFormCostoIncre().controls;  let i = index" [formGroupName]="i">

              <div class="grid mt-2">

                <label for="sucursal" class="col-6 md:col-12 lg:col-6">
                  {{lstFormCostoIncre().controls[i].value.nombreSucursal}}
                </label>
                <input pInputText id="sucursal" formControlName="valor" class="col-6 md:col-12 lg:col-6" />

              </div>
            </div>
            <div class="flex align-items-center justify-content-center mt-4">
              <button pButton type="button" [disabled]="!formCostoIncre.valid" class="p-button-success"
                label="Siguiente" icon="pi pi-arrow-right" (click)="cargarPrePropuesta()"></button>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-th-large"></i>
            <span>Propuesta por Articulos</span>
          </ng-template>
          <div class="flex align-items-center justify-content-center mt-4">
            <button pButton type="button" [disabled]="!formCostoIncre.valid" class="p-button-primary" label="Siguiente"
              icon="pi pi-arrow-right" (click)="cargarPrePropuesta()"></button>
          </div>
        </p-tabPanel>

      </p-tabView>
    </div>

  </form>
</p-dialog>



<!-- CARGAR PRECIOS FAMILIA-->

<p-dialog header="Propuesta" [(visible)]="showModal" [modal]="true" [breakpoints]="{ '960px': '95vw' }"
  [style]="{ width: '70vw' }">
  <div class="grid">

    <div class="col-12 md:col-12 lg:col-4">

      <div class="grid">

        <p-dropdown class="flex flex-column col-12 md:col-12 lg:col-12" [options]="lstProveedor" [filter]="true"
          filterBy="codigoFamilia" [showClear]="true" optionValue="codigoFamilia" optionLabel="nombreProveedor"
          placeholder="Seleccione Familia por Codigo" (onChange)="onChangeFamilia($event)">
          <ng-template let-prov pTemplate="item">
            <div class="flex align-items-center prov-item">
              <div>{{prov.codigoFamilia}} - {{prov.nombreProveedor}}</div>

            </div>
          </ng-template>

        </p-dropdown>

        <p-dropdown class="flex flex-column col-12 md:col-12 lg:col-12" [options]="lstFamilia"
          optionLabel="nombreFamilia" optionValue="idGrpFamiliaSap" placeholder="Seleccione Familia"
          (onChange)="onChangeFamiliaXCodigo($event)">
        </p-dropdown>

        <table class="shadow-5 col-12 md:col-12 lg:col-12  font-bold" style="width: 100%;">

          <thead>
            <tr>
              <th>Sucursal</th>
              <th>Costo Flete</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let cf of lstCostoIncre;  let i = index">
              <td>{{ cf.nombreSucursal }}</td>
              <hr>
              <td>{{ cf.valor }}</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>

    <div class="col-12 md:col-12 lg:col-8">
      <p-table [value]="lstFamiliaXGrupo" class="col-12 md:col-12 lg:col-8" [scrollable]="true" scrollHeight="400px"
        [tableStyle]="{ 'min-width': '60rem' }" [autoLayout]="true" [(selection)]="lstProductSelected"
        dataKey="codigoFamilia" styleClass="p-datatable-sm">
        <ng-template pTemplate="caption"> FAMILIAS </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Codigo</th>
            <th>Familia</th>
            <th>Proveedor</th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-famg>
          <tr>
            <td>
              <p-tableCheckbox [value]="famg"></p-tableCheckbox>
            </td>
            <td>{{ famg.codigoFamilia }}</td>
            <td>{{ famg.nombreFamilia }}</td>
            <td>{{ famg.nombreProveedor }}</td>
            <td>
              <button pButton type="button" icon="pi pi-dollar" class="p-button-success"
                label="Editar Precios en Toneladas" (click)="loadFamilyData(famg.codigoFamilia)">
              </button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">

          <div *ngIf="lstFamiliaXGrupo.length > 0">
            <button pButton label="Ver Articulos" icon="pi pi-eye" class="m-2" *ngIf="lstProductSelected.length > 0  "
              (click)="onSelectedFamilyCode()"></button>
            <button pButton label="Desplegar Articulos" icon="pi pi-eye" class="m-2"></button>
          </div>

        </ng-template>
      </p-table>
    </div>

  </div>

</p-dialog>

<!-- Dialog para mostrar los articulos seleccionados-->
<p-dialog header="ARTICULOS SELECCIONADOS " [(visible)]="showModalArticulo" [modal]="true"
  [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '70vw' }">

  <p-table #dtArticulos [value]="lstArticuloXFamilia" responsiveLayout="scroll" [paginator]="true" [rows]="25"
    [responsive]="true">
    <ng-template pTemplate="header">

      <tr>
        <th>#</th>
        <th>Filas Por Codigo</th>
        <th>Codigo Familia</th>
        <th>Codigo Articulo</th>
        <th>Descripcion</th>
        <th>Stock</th>
        <th>UTM</th>

      </tr>

    </ng-template>

    <ng-template pTemplate="body" let-art>
      <tr>
        <td>{{ art.fila }}</td>
        <td>{{ art.filaCod }}</td>
        <td>{{ art.codigoFamilia }}</td>
        <td>{{ art.codArticulo }}</td>
        <td>{{ art.datoArticulo }}</td>
        <td>{{ art.stock }}</td>
        <td>{{ art.utm }}</td>

      </tr>
    </ng-template>
  </p-table>

</p-dialog>



<!-- Dialog para desplegar la familia seleccionada y los precios de tonelada actuales y propuestos  -->
<p-dialog header="CALCULO DE PRECIOS EN TONELADAS" [(visible)]="showModalPreciosTon" [modal]="true"
  [breakpoints]="{ '960px': '95vw' }" [style]="{ width: '70vw' }">

  <div class="grid">

    <div class="col-12 md:col-12 lg:col-12">

      <p-card title="Detalles de la Familia" styleClass="ui-card-shadow">
        <div class="fluid formgrid grid">
          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Codigo Familia</label>
            <p class="font-bold w-10 text-yellow-500">{{ producto.codigoFamilia }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Presentacion</label>
            <p>{{ producto.presentacion }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Proveedor</label>
            <p>{{ producto.nombreProveedor }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Familia</label>
            <p>{{ producto.nombreFamilia }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Rango Gramaje</label>
            <p>{{ producto.rangoGramaje }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Color</label>
            <p>{{ producto.color }}</p>
          </div>

          <div class="field col-12 md:col-6 lg:col-4">
            <label class="font-bold w-10">Costo Actual</label>
            <p class="font-bold w-10 text-orange-600">{{ producto.costoTM | currency:'USD' }}</p>
          </div>
        </div>
      </p-card>

    </div>

    <div class="col-12 md:col-12 lg:col-12">

      <div class="flex">
        <div
          class="flex-1 md:flex-none flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round">
          <label for="costo">Costo Propuesto: </label>
          <span class="p-input-icon-left">
            <i class="pi pi-dollar"></i>
            <input pInputText type="text" #costo>
          </span>
        </div>
        <div
          class="flex-1 md:flex-none flex align-items-center justify-content-center  font-bold m-2 px-5 py-3 border-round">
          <p-button icon="pi pi-check" label="Calcular" (onClick)="calculateNewPricesTon()"></p-button>
        </div>
      </div>

      <p-table [value]="lstPrecioXTonActuales">
        <ng-template pTemplate="header">

          <tr>

            <th>#</th>
            <th>Sucursal</th>
            <th>Lista de Precio</th>
            <th>Porcentaje</th>
            <th>IVA</th>
            <th>IT</th>
            <th>Precio Tonelada Propuesto</th>
            <th>Precio Tonelada Actual</th>

          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-pre>
          <tr>
            <td>{{ pre.fila }}</td>
            <td>{{ pre.nombreSucursal }}</td>
            <td>{{ pre.vpp }} - {{ pre.nombrePrecio }}</td>
            <td>{{ pre.porcentaje }} %</td>
            <td>{{ pre.iva }} %</td>
            <td>{{ pre.it }} %</td>
            <td class="text-right font-bold text-blue-600">{{ pre.precioNew | currency : 'USD' }}</td>
            <td class="text-right font-bold text-orange-600">{{ pre.precio | currency :'USD' }}</td>

          </tr>
        </ng-template>

      </p-table>

      <span>
        <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      </span>

      <div class="flex justify-content-center">



        <button class="flex align-items-center m-2" [disabled]="!costo.value" pButton label="Guardar"
          (click)="saveProposal()"  icon="pi pi-save">
        </button>

      </div>

    </div>
  </div>

</p-dialog>
