<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmPopup></p-confirmPopup>

<h3>CORREOS ELECTRONICOS</h3>
<hr>
<br />

<p-panel>
  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-cog" class="p-button-sm px-1" (click)="cargarEmails()" label="Editar">
    </button>
  </ng-template>
  <ul *ngFor="let email of lstEmail">
    <li>
      {{ email.email }}
    </li>
  </ul>
</p-panel>


<!-- Dialog para editar o agregar mas Emails  -->
<p-dialog header="ACTUALIZAR DATOS DE CORREO" [(visible)]="displayModal" [modal]="true" [draggable]="true" >
  <hr>
  <button pButton class="p-button-help" icon="pi pi-plus" (click)="agregarNuevoRegistro()"> Nuevo Registro </button>

  <form autocomplete="off" [formGroup]="formEmail" (ngSubmit)="guardarEmails()">

    <br>

    <div formArrayName="emailArr" class="p-3">

      <div *ngFor="let em of lstFormEmail().controls;  let i = index" [formGroupName]="i">
        <br>
        <div class="grid justify-content-between">

            <input class="col-6" pInputText formControlName="email" placeholder="Nuevo Email">

            <button pButton class="col-6 p-button-danger" type="button"
              (click)="eliminarRegistro($event, i, lstFormEmail().controls[i].value.codEmail)" icon="pi pi-trash">
            </button>


          <hr>
        </div>

      </div>

    </div>
    <hr>

    <div class="flex justify-content-center">

      <button pButton class="p-button-success" icon="pi pi-save" type="submit" label="Guardar"

      [disabled]="!formEmail.valid">

      </button>
    </div>

  </form>

</p-dialog>
