::ng-deep .custom-table .p-datatable-tbody > tr > td {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }
  ::ng-deep .custom-table .p-datatable-thead > tr > th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }